<mat-toolbar class="secondary-toolbar">
  <mat-toolbar-row>
    <span class="logo">MyAPP</span>
    <mat-icon class="logo">bolt</mat-icon>
    <!-- <img class="logo-img" src="../../../../../assets/svg/amped.svg"> -->
    <span style="flex: 1 1 auto"></span>
    <mat-slide-toggle (click)="toggleDarkMode()" [(ngModel)]="isDarkMode"></mat-slide-toggle>
  </mat-toolbar-row>

</mat-toolbar>

<div class="topnav">
  <a href="#">Portfolio</a>
  <a href="#">Applications</a>
  <a href="#">Projects</a>
  <a href="#">Estimates</a>
  <a [matMenuTriggerFor] = "menu" >Admin</a>
  <mat-menu #menu="matMenu">
      <a href="#"><button mat-menu-item>User</button></a>
      <a href="#"><button mat-menu-item>Roles</button></a>
      <a href="#"><button mat-menu-item>Hosting</button></a>
      <a href="#"><button mat-menu-item>System Lookup</button></a>
  </mat-menu>

  <div class="search-container">
      <form>
          <input type="text">
          <button type="submit">Submit</button>
      </form>
  </div>
</div>